.input:focus {
    outline: none;
    border: #7ba27b solid 2px;
}

.superInput {
    margin: 10px;
    background: whitesmoke;
    color: darkorchid;
}

.errorInput {
    border: 3px solid #469bb2;
    background: #b28a41;
}

.error {
    color: red;
}