.link {
    text-decoration: none;
    color: #61dafb;
    margin: 10px;
}

.link:hover {
    color: mediumslateblue;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: yellow;
}

.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0px);
}
